/*resetar configs padroes*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


/*formatação do menu*/

#cabecalho {
    background-color: #d76d2c;
    padding: 15px;
    text-align: center;
}

#logo,
#menu {
    padding: 10px;
}

a {
    text-decoration: none;
}

#menu a:link,
#menu a:visited {
    color: white;
    padding: 8px 12px;
}

#menu a:hover {
    color: #d76d2c;
    background: #396248;
}


/*layout body*/

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
}

#lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    color: white;
    text-align: center;
    padding: 15px;
    background: #d76d2c;
}


/*outras formatações*/

h1 {
    color: white;
    font-size: 2.5em;
}

h2 {
    color: #d76d2c;
}

h3 {
    background: #d76d2c;
    padding: 5px;
    color: white;
}

.postagem span {
    color: #396248;
    font-size: 0.8em;
    border-bottom: 1px solid #d76d2c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.postagem a:link,
.postagem a:visited {
    color: #396248;
}

.postagem a:hover {
    text-decoration: underline;
}

.scc {
    color: #396248;
}

.postagem p {
    color: #df7b1d;
}

.conteudo-lateral {
    background: #69b883;
    padding: 10px;
    margin-bottom: 20px;
}

.conteudo-lateral a:link,
.conteudo-lateral a:visited {
    color: white;
}

.conteudo-lateral a:hover {
    text-decoration: underline;
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}

#lista-categorias a {
    font-size: 0.8em;
    color: black;
}


/*#69b883 396248 df7b1d d76d2c cores scc/*/